<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sibra Blog</title>
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>

    <%- include('_navbar') %>

    <div class="posts-container mt-5">
        <h1>Sibra Blog</h1>
        <!-- <a href="/articles/new" class="btn btn-success">New Article</a> -->

        <div class="post">

            <% articles.forEach(article=> { %>
                <div class="card mt-4">
                    <div class="card__header">
                        <div class="card__img">
                            <img src="https://i.pinimg.com/originals/a4/f8/f9/a4f8f91b31d2c63a015ed34ae8c13bbd.jpg" alt="home">
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__body__top">
                            <h4 class="card__title">
                                <%= article.title %>
                            </h4>
                            <div class="card__date">
                                Fecha de publicación: <%= article.createdAt.toLocaleDateString() %>
                            </div>
                        </div>
                        <div class="card__text">
                            <%= article.description %>
                        </div>
                        <a href="articles/<%= article.slug %>" class="card__btn">Leer más</a>
                        <!-- <a href="articles/edit/<%= article.id %>" class="btn btn-info mt-3 text-white">Edit</a> -->
                        <!-- <form action="/articles/<%= article.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn btn-danger mt-1">Delete</button>
                        </form> -->
                    </div>
                </div>
                <% }) %>
        </div>

    </div>

    <script src="/js/index.js"></script>
</body>

</html>