<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sibra Blog</title>
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>

    <%- include('_navbar') %>

    <div class="posts-container mt-5">
        <h1>Sibra Blog</h1>
        <a href="/articles/new" class="btn-new">Nuevo Post</a>

        <div class="post">

            <% articles.forEach(article=> { %>
                <div onclick="location.href='./<%= article.slug %>';" style="cursor: pointer;" class="card no-anim">
                    <div class="card__header">
                        <div class="card__img">
                            <img src="/images/<%= article.image %> " alt="home">
                        </div>
                    </div>
                    <div class="card__body">
                        <div class="card__body__top">
                            <h4 class="card__title">
                                <%= article.title %>
                            </h4>
                            <div class="card__date">
                                Fecha de publicación: <%= article.createdAt.toLocaleDateString() %>
                            </div>
                        </div>
                        <div class="card__text">
                            <%= article.description %>
                        </div>
                        <div class="btn-admin">
                            <a href="/articles/edit/<%= article.id %>" class="btn-edit">Editar</a>
                        </div>
                    </div>
                </div>
                <% }) %>
                
        </div>

    </div>

    <script src="/js/navigation.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>